.card {
    min-width: 275,
  }
.bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
  }
.title {
    font-size: 14;
  }
.pos {
    margin-bottom: 12;
  }
.login{
    width:400px;
    margin:30px auto;
    text-align: center;
    height:400px;
    flex-grow:1
}
.right{
    float: right;
}
.in{
    display: inline-block !important
}